<menu>
  <div class="brand_name">
    <a href="#"> <%= data.shopName %> </a>
  </div>
  <div class="homeButton">
    <input type="text" placeholder="Sản phẩm quan tâm" />
    <button id="seachPart">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="login_form">
    <a href="/login">Login</a>
  </div>
</menu>
