.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5px;
}

body {
  background-color: #ece5e5;
}

.container > h2 {
  padding: 20px 0;
  text-align: center;
}

.products {
  min-height: 600px;
}

.product_container {
  margin-bottom: 20px;
  position: relative;
}

.addNote {
  background-color: rgb(218, 214, 214);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  margin-left: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}

.user_note_container {
  float: right;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.user_note_container div {
  width: 45%;
}

.user_note_container div label {
  font-weight: bold;
  color: #50504f;
}

.user_note_container div textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid gray;
  outline: none;
}

.addNote button {
  margin: 0 auto;
  display: block;
  background-color: green;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  border-style: none;
}

.addNote button:hover {
  cursor: pointer;
  opacity: 0.6;
}
/* Product part */
.product {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  color: rgb(70, 68, 68);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.product:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.01); */
}

.product img {
  width: 300px;
  height: 100%;
  border: 1px solid silver;
  object-fit: cover;
}

.product > img:hover {
  /* transform: scale(1.04); */
}

.product-info {
  padding: 20px;
  width: calc(100% - 300px);
  position: relative;
}

.product-name,
.product-price,
.product-offer {
  margin-bottom: 10px;
}

/* .product-name {
  font-size: 20px;
} */

.product-price {
  font-weight: normal;
}

.drop_addNote {
  margin-top: 50px;
  width: 50px;
  padding: 3px 12px;
  background-color: gray;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-remove {
  position: absolute;
  bottom: 70px;
  right: 20px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-remove i {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.product-remove:hover {
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.product-quantity {
  display: inline-block;
  height: auto;
  border: 1px solid black;
  height: 25px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-quantity button {
  padding: 0px 8px;
  font-size: 16px;
  color: white;
  background-color: #6e6e6d;
}

.product-quantity button:hover {
  cursor: pointer;
  background-color: #21211f;
}

.product-quantity span {
  width: 25px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}

.colorDetail {
  margin: 6px 0;
}

.cart-total {
  background-color: #d6d5d3;
  padding: 20px;
  border: 1px solid silver;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 50px;
}
.cart-total h2 {
  margin-top: 1px;
  margin-bottom: 15px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}

.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #21211f;
  color: white;
  text-decoration: none;
}

.cart-total a:hover {
  background-color: rgb(92, 89, 89);
}

.linkReturnPage {
  text-decoration: none;
  color: rgb(71, 69, 69);
}

.linkReturnPage:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .cart {
    flex-direction: column;
  }

  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .addNote {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .product-remove {
    padding: 8px 8px;
    right: 10px;
    bottom: 10px;
  }
  .remove {
    display: none;
  }

  .product {
    height: fit-content;
  }

  .product-info {
    width: calc(100% - 200px);
  }

  .product img {
    width: 200px;
  }

  .product-name,
  .product-price,
  .product-offer {
    font-size: 15px;
    margin-bottom: 0px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-quantity button {
    padding: 0px 8px;
  }

  .product-info b,
  .product-info span {
    font-size: 14px;
  }
}

@media screen and (max-width: 525px) {
  .product {
    height: fit-content;
  }

  .product-info {
    padding: 5px 10px;
    width: calc(100% - 120px);
  }
  .title-cartotal {
    font-size: 20px;
  }

  .cart-total p span:first-child {
    font-size: 16px;
  }

  .cart-total p span:last-child {
    font-size: 16px;
    font-weight: 500;
  }

  .product img {
    width: 120px;
    height: 200px;
  }

  .product-remove i {
    font-size: 10px;
  }

  .product-name {
    padding-right: 30px;
  }
  .product-name,
  .product-price,
  .product-offer {
    font-size: 14px;
  }
}

.backtohomepage {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: none;
}
