<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <!-- <section id="home">
      <div class="home_page">
        <div class="home_img">
          <img src="/assets/Profile_Images/anh2.jpg" alt="img " />
        </div>
        <div class="home_txt">
          <p class="collectio">Welcome</p>
          <h2><%= data.profile[0].shopName %></h2>
          <div class="home_label">
            <p>
              A specialist label creating luxury essentials. Ethically
              crafted<br />with an unwavering commitment to exceptional quality.
            </p>
          </div>
          <button>SHOP NOW</button>
          <div class="home_social_icons">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-pinterest"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </section> -->

    <%- include('../partials/footer') %>

    <script
      src="https://kit.fontawesome.com/b25957ae4f.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/header.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
