<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href=" /assets/icon/pinkoc.png" type="image/x-icon" />
    <title>Thông tin nhận hàng</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/shipInfo.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <header class="navigation-ship-container">
      <ul class="breadcrumb">
        <li><a href="/shopCart">Giỏ Hàng</a></li>
        <li>Thông tin giao hàng</li>
        <li>Phương thức thanh toán</li>
      </ul>
    </header>
    <div class="ship-container">
      <div class="left">
        <h2>Thông tin giao hàng</h2>

        <form id="paymentForm" method="post" enctype="multipart/form-data">
          <input
            type="text"
            placeholder="Họ và tên"
            name="userName"
            id="userName"
            required
          />
          <input
            type="userEmail"
            placeholder="Email"
            name="userEmail"
            id="userEmail"
          />
          <input
            type="number"
            placeholder="Số diện thoại"
            name="userNumber"
            id="userNumber"
            required
          />
          <input
            type="text"
            placeholder="Địa chỉ"
            name="userAddress"
            id="userAddress"
            required
          />
          <a href="/shopCart">Giỏ hàng</a>
          <button id="payment" type="submit">Thanh toán</button>
        </form>
      </div>

      <div class="right">
        <% let sum = 0;%>
        <div class="scroll-table" id="style-4">
          <table class="product-table">
            <thead>
              <tr>
                <th scope="col">
                  <span class="visually-hidden">Hình ảnh</span>
                </th>
                <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                <th scope="col">
                  <span class="visually-hidden">Số lượng</span>
                </th>
                <th scope="col"><span class="visually-hidden">Giá</span></th>
              </tr>
            </thead>
            <tbody class="render-product"></tbody>
          </table>
        </div>
        <div
          class="order-summary-section order-summary-section-total-lines payment-lines"
          data-order-summary-section="payment-lines"
        >
          <table class="total-line-table">
            <thead>
              <tr>
                <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                <th scope="col"><span class="visually-hidden">Giá</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-line">
                <td class="">Tạm tính</td>
                <td class="" style="text-align: right">
                  <span
                    class="payment-due-price"
                    data-checkout-subtotal-price-target="1230000000"
                  >
                    <%=new Intl.NumberFormat('vi-VN', { style: 'currency',
                    currency: 'VND' }).format(sum)%>
                  </span>
                </td>
              </tr>
              <tr class="total-line">
                <td class="">Phí vận chuyển</td>
                <td class="" style="text-align: right">
                  <span class="" data-checkout-total-shipping-target="0">
                    —
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot class="total-line-table-footer">
              <tr class="total-line">
                <td class="payment-due-label">
                  <span class="payment-due-label-total">Tổng cộng</span>
                </td>
                <td class="payment-due" style="text-align: right">
                  <!--                                <span class="payment-due-currency">VND</span>-->
                  <span
                    class="payment-due-price"
                    data-checkout-payment-due-target="1230000000"
                  >
                    <%=new Intl.NumberFormat('vi-VN', { style: 'currency',
                    currency: 'VND' }).format(sum)%>
                  </span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>

    <script
      src="https://kit.fontawesome.com/b25957ae4f.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/header.js"></script>
    <script src="/js/shopInfo.js"></script>
  </body>
</html>
